.about-intro h1{
    font-weight: 700;
    color: #00E5FF;
    text-shadow: 0px 0px 20px #00E5FF;
}
.about-box{
    transition: all .5s;
}
.about-box:hover{
    box-shadow: 0px 0px 10px 10px rgba(0,229,255,0.46);
    border: 1.5px solid #00E5FF;
    transform:  translateY(10px) scale(1.05);
    z-index: 3;
}
.about-box2{
    transition: all .4s ease;
}
.about-box2:hover{
    box-shadow: 0px 0px 10px 10px rgba(0,229,255,0.46);
    border: 1.5px solid #00E5FF;
    transform:  translateY(-10px) scale(1.05);
    z-index: 3;
}
h3{
    text-shadow: 0px 0px 20px #00E5FF;
}

.about-process h2{
    color: #00E5FF;
    text-shadow: 0px 0px 20px #00E5FF;
}

.about-process .process-steps .step{
    transition: all .3s ease;
    
}

.about-process .process-steps .step:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px  rgba(0,229,255,0.46)
}